.label{
    width: 200px;
    font-size: 14px;
    color: #555;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}
.fileInputContainer{
    position: relative;
    display: flex;
}
.fileInput{
    padding: 4px 50px 4px 4px;
    border: 1px solid #ddd;
}
.fileInput input#file-upload-button{
    background-color: white;
}
.fileUpLoadButton{

    width: 50px;
    background: #333;
    color: white;
    border: none;
}
.fileUpLoadProgress{
    position: absolute;
    right: 62px;

}
.fileUpLoadStatus{

}
