.reportContainer{
    background-color: white;
    margin-bottom: 32px;
    padding: 18px;
    display: flex;
}
.reportContainer label{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
}
.datePickerContainer{
    margin: 12px 0;
    width: 360px;
}
.reportContainer .btnExport{
    font-size: 14px;
    border: 1px solid #555;
    border-radius: 4px;
    color:#333;
    padding: 4px 8px;
    transition: all .3s ease-in-out;
}
.reportContainer .btnExport:hover{
    opacity: 0.7;
}

.radioButtonsContainer{
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.radioButtonsContainer > label{
    margin: 0 12px 0 4px;
    font-size: 13px;
    font-weight: normal;
}