@import '../../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import "../../../node_modules/@syncfusion/ej2-react-grids/styles/material.css";

.e-grid .e-gridheader .e-sortfilter .e-headercelldiv,
.e-grid .e-gridheader .e-stackedheadercelldiv {
    padding: 0;
}

.e-grid .e-sortfilterdiv {
    float: right;
    height: 10px;
    margin: -15px 2px;
    padding: 3px;
    width: 10px;
}

/* hide sorting in excel-like filter */
.e-excel-ascending,
.e-excel-descending,
.e-separator.e-excel-separator {
    display: none;
}

/* hide custom filter in excel-like filter */
.e-contextmenu-wrapper li:nth-child(5) {
    display: none;
}

.e-grid .e-headercell,
.e-grid .e-detailheadercell {
    /* background-color: #088699; */
    color: #333;
    font-weight: bolder;
}

.e-pager .e-currentitem,
.e-pager .e-currentitem:hover {
    background: #088699;
    color: #fff;
    opacity: 1;
    border-radius: unset;
}

.e-checkbox-wrapper .e-frame.e-check,
.e-css.e-checkbox-wrapper .e-frame.e-check {
    background-color: #088699;
    border-color: transparent;
    color: #fff;
}

.e-btn.e-flat.e-primary,
.e-css.e-btn.e-flat.e-primary {
    background-color: transparent;
    border-color: transparent;
    color: #088699;
}

.e-grid .e-filtered::before {
    color: #088699;
}

.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after {
    background: #088699;
}

.e-pager .e-currentitem.e-numericitem.e-focused {
    background: #088699;
}

.e- clipMode='EllipsisWithTooltip' headerText {
    font-size: 14px;
    font-weight: bolder;
}

.e-rowcell {
    font-size: 14px;
}

.e-date-wrapper span.e-input-group-icon.e-date-icon.e-icons.e-active {
    color: #088699;
}



/* image carousel*/
.e-carousel .e-carousel-indicators .e-indicator-bar.e-active .e-indicator div {
    background-color: #088699;
    border-color: #088699;
}

.e-control-wrapper.e-slider-container .e-slider .e-range {
    background-color: #088699;
}

.e-control-wrapper.e-slider-container .e-slider .e-handle {
    background-color: #088699;
    border-color: #088699;
}

.e-slider-tooltip.e-tooltip-wrap.e-popup {
    background-color: #088699;
    border: 0;
    border-radius: 8px;
    cursor: grab;
    opacity: 1;
}

.e-arrow-tip-inner.e-tip-top::before {
    content: "\e918";
    color: #088699;
    border-color: #088699;
}

.e-slider-tooltip.e-tooltip-wrap.e-popup .e-arrow-tip-outer.e-tip-top {
    border-bottom-color: #088699;
}

.e-control-wrapper.e-slider-container .e-slider-button {
    /* background-color: rgba(0, 0, 0, 0.54); */
    background-color: #088699;
    border: 1px solid transparent;
    /* border-radius: 50%; */
    border-radius: 0px;
    height: 18px;
    width: 18px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    padding: 0;
    position: absolute;
}

.e-control-wrapper.e-slider-container .e-scale.e-h-scale .e-tick .e-tick-value.e-tick-after {
    font-size: 1.2rem;
    margin-top: -12px;
}

.e-control-wrapper.e-slider-container .e-scale.e-h-scale .e-tick .e-tick-value.e-tick-after::after{
    /* content: '';
    height: 4px;
    width: 2px;
    background-color: #333;
    position: absolute;
    top: 0;
    right: 50%; */
}