@import '../../../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../../../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../../../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../../../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import "../../../node_modules/@syncfusion/ej2-react-grids/styles/material.css";

.e-grid .e-gridheader .e-sortfilter .e-headercelldiv, .e-grid .e-gridheader .e-stackedheadercelldiv {
     padding: 0;
}
.e-grid .e-sortfilterdiv {
    float: right;
    height: 10px;
    margin: -15px 2px;
    padding: 3px;
    width: 10px;
}
/* hide sorting in excel-like filter */
.e-excel-ascending,
.e-excel-descending,
.e-separator.e-excel-separator {
display: none;
}
/* hide custom filter in excel-like filter */
.e-contextmenu-wrapper li:nth-child(5){
    display: none;
}
.e-grid .e-headercell, .e-grid .e-detailheadercell {
    background-color: #088699;
    color: white;
    font-weight: bolder;
}