.container {
    display: flex;
    background-color: white;
    margin: 24px 0;
    padding: 28px;
}

.flex {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.left {
    flex: 4;
}

.right {
    flex: 6;
    padding-left: 28px;
    display: flex;

    flex-direction: column;
}

.subtitle {
    font-size: 22px;
    margin-right: 20px;
    vertical-align: middle;
}

.title {
    font-size: 28px;
}

.imgContainer {
    position: relative;
}

.img {}

.sizeQuantity{
    width: 100%;
    margin: 12px 0 0 0;
    padding-right: 55px;
    font-size: 16px;
    text-align: right;
}

.disabled{
    opacity: 0.5;
    pointer-events: none;
}

.desc {
    border-top: 1px solid #333;
    text-align: left;
    line-height: normal;
    margin-bottom: 28px;
    font-size: 16px;
    flex: 1;
    padding: 16px 16px 0px 12px;
}
.outOfStockTag{
    position: absolute;
    top: 50px;
    left: 0;
    background-color: transparent;
    color: white;
    text-shadow: 0px 0px 4px black;
    font-size: 14px;
    font-weight: bolder;
    padding: 8px;
    text-align: center;
    border: 2px solid white;
    vertical-align: middle;

}
.salePercentTag {
    width: 64px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: crimson;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    vertical-align: middle;
    padding: 8px;
    height: 30px;
    padding: 8px 0;
    text-align: center;
}

.salePercentTag::after {
    content: '';
    display: block;

    width: 0;
    height: 0;
    top: 0;
    right: -28px;
    position: absolute;
    border: 14px solid crimson;
    /* bottom: -20px; */
    border-left-color: crimson;
    border-right-color: transparent;
    border-top-color: crimson;
    border-bottom-color: transparent;
}

.sizeContainer {
    display: flex;
    align-items: center;
}

.size {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
}

.size.active {
    background-color: #009eb6;
    color: white;
}
.priceLabel{
    color:#444;
    font-size: 20px;
}
.price {
    margin: 24px 0;
    font-size: 2.4rem;
    font-weight: bolder;
    color: #009eb6;
    width: 100%;
}

.oldPrice {
    margin: 24px 0 -16px 0;
    font-size: 1.8rem;
    font-weight: 500;
    color: #777;
    width: 100%;
}
.oldPriceString{
    text-decoration: line-through;

}
.btnContainer {
    display: flex;
    /* justify-content: center; */
}

.btn {
    display: inline-block;
    position: relative;
    font-size: 1.4rem;
    padding: 12px 28px;
    color: var(--light);
    border: 1px solid transparent;
    text-align: center;
    background-color: #e67e22;
    transition: all 0.3s ease-out;

    cursor: pointer;
}

.btn:hover {
    color: var(--light);
    border: 1px solid #e67e22;
}

.btn:before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    width: 0%;
    height: 100%;
    transition: width 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
}

.btn:after {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    content: "THÊM VÀO GIỎ HÀNG";
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: transparent;
    color: white;
    transition: all 0.3s ease-in-out;
}

.btn:hover:before {
    width: 100%;
}

.btn:hover::after {
    color: #e67e22;
}