.overCoat {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: all 0.3s ease-out;
    overflow: hidden;
    z-index: 80;
    width: 0%;
}
.overCoat.active {
    width: 100%;
    background-color: #414141b2;
}
.overCoat.ofNavList.active {
    z-index: 70;
}
