.form {
    position: relative;
    margin-top: 12px;
}
.form .input {
    width: 100%;
    appearance: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #333333;
    padding: 12px 40px 12px 0;
    font-size: 14px;
}
.btn {
    border: none;
    background-color: transparent;
    color: #333;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 28px;
    cursor: pointer;
}
.list {
    margin-top: 28px;
    flex: 1;
    overflow-y: auto;
}

.flex_1{
   height: 500px;
}

