.list {
    margin-top: 28px;
    flex: 1;
    overflow-y: auto;
}
.totalWrapper{
    margin-top: 12px;
    width: 100%;
    padding-right: 12px;
    font-size: 14px;
    text-align: right;
}
.total{
    font-size: 16px;
    font-weight: bold;
    color: #52A1B6;
}
/* .item {
    display: flex;
    margin-bottom: 12px;
    max-height: 120px;
}
.cart-list .cart-list__item .item__img-container {
    max-width: 120px;
}
.item__detail {
    margin-left: 16px;
}
input[type="number"],
input[type="button"] {
    border: 1px solid #eeeeee;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-group input[type="button"] {
    cursor: pointer;
    background-color: #eeeeee;
}
.input-group input[type="button"]:hover {
    color: #777777;
}
.input-group .button-minus,
.input-group .button-plus {
    font-weight: bold;
    font-size: 1.4rem;
    height: 30px;
    width: 30px;
}

.input-group .quantity-field {
    height: 30px;
    text-align: center;
    width: 30px;
    font-size: 1.3rem;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}
.btn--danger {
    background-color: crimson;
    display: block;
    font-size: 1.3rem;
    margin-top: 11px;
    padding: 8px;
    width: fit-content;
} */
