.box {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: var(--white);
    padding: 28px 32px;
    position: fixed;
    top: 0px;
    bottom: 0;
    right: 0;
    z-index: 90;
    transition: right 0.3s ease-out;
    right: -100%;
}
.box.active {
    right: 0;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h3 {
    font-size: 24px;
}
.iconSvg {
    width: 40px;
    height: 40px;
    color: #111;
    cursor: pointer;
    transition: color 0.3s ease-out;
}
.iconSvg:hover {
    color: #555;
}
.iconSvg path {
    stroke-width: 3;
}
.btn {
    border: none;
    background-color: transparent;
    color: #333;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 28px;
    cursor: pointer;
}
@media (max-width: 740px) {
    .box {
        width: 100%;
    }
}
