.main {
    padding-top: 60px;
    width: 100%;
    overflow: hidden;
    /* position: relative; */
    transition: margin-left 0.3s;
    background-color: rgb(233, 233, 233);
}
.main.active {
    margin-left: -500px;
}
.container {
    padding: 0 64px;
}
@media (max-width: 1199px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}
