.modalWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(51, 51, 51, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 28px;
}

.modal {
    background-color: white;
    width: 1000px;
    min-width: 500px;
    padding: 22px;
}
.disabled{
    display: none !important;
}
.title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttonConfirm {}

.header {
    text-align: right;
}

.closeButton svg {
    width: 30px;
}

.closeButton {
    cursor: pointer;
}
.cartInfo{
    display: flex;
    flex-wrap: wrap;
}
.infoGroup{
    width: 33.33333%;
    margin-bottom: 12px;
}
.infoGroup label{
    font-size: 14px;
color: #333;
}
.infoGroup span{
    margin-left: 4px;
    font-size: 14px;
    color: #333;
font-weight: bolder;
}
.cartDetail{
    margin-top: 32px;
}

.inActive{
    pointer-events: none;
    opacity: 0.3;
}
.checkButton{
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding: 4px 12px;
    border:  none;
    background-color:#088699;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 12px;
}
.saveButton{
    background-color:#008829;
    width: fit-content;
}
.finishButton{
    width: 110px;
}
.btnCheckContainer{
    display:  flex;
    justify-content: flex-end;
    margin-bottom: 12px;
}

.checkButton:hover{
    opacity: 0.8;
}
.iconSvg {
    margin-right: 8px;
    margin-bottom: -8px;
}
svg{
    width: 18px;
}
.infoEmployee{
    width: 50%;
    display: flex;
    align-items: center;
}
.dropdownList{
    flex: 1;
    margin-left: 8px;
    margin-bottom: -4px;
}
.infoEmployeeDelivery1{
    width: 100%;
} 
.dropdownList span{
    font-weight: bolder !important;
}
.total{
    font-size: 15px;
    text-align: right;
    padding-top: 8px;
    margin-bottom: -10px;
}
.cancelButton{
    width: 150px;
    background-color: #777;
}.marginLeft32{
    margin-left:  44px;
}

.w100{
    width: 100%;
    display: flex;
}

.modalPrintWrapper{
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    width: 100%;
}

.modalPrintWrapper .modal {
    background-color: white;
    width: 1000px;
    min-width: 500px;
    padding: 22px;
}

/* .container .cartInfo{
    display: flex;
    flex-direction: column;
} */
.printButton{
    margin-right: 32px;
    width: 120px;
}
.printButtonContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 32px;
}
.btnCheckContainer .printButton{
    margin-right: 0;
    margin-left: 12px;
}
.container p{
    margin-bottom: 36px;
}
.subtitle{
    margin-bottom: 8px !important;
}
.container span{
    font-weight: bold;
}
.loadingOverCoat{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.229);
    z-index: 100;
}