.loginWrapper{
    display: flex;
    align-items: center;
    background-color: white;
    min-height: 500px;
    padding: 24px;
    margin: 24px 0;
}
.inputGroup{
    margin-top: 20px;
}
.inputLabel{
    font-size: 16px;
    color: #555;
    font-weight: bold;
}
.img{
    width: 150px;
    height: 150px;
}
.form {
    position: relative;
    margin-top: 12px;
}
.form .input {
    width: 100%;
    appearance: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #333333;
    padding: 12px 40px 12px 0;
    font-size: 14px;
}

.errorMessage{
    color: crimson;
    margin: 12px 0;
    text-align: right;
    font-weight: bold;
}