.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    padding-right: 16px;
    /* position: relative; */
}

/* .imgContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 100%; /* 16:9 Aspect Ratio 
}*/
.item {
    position: relative;
    overflow: hidden;
}

.outOfStockTag{
    position: absolute;
    top: 30px;
    left: 0;
    background-color: transparent;
    text-shadow: 0px 0px 4px black;
    color: white;
    font-size: 12px;
    font-weight: bolder;
    padding: 8px;
    text-align: center;
    border: 2px solid white;
}
.salePercentTag{
    width: 56px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: crimson;
    color: white;
    font-weight: bolder;
    font-size: 13px;
    padding: 8px;
    height: 24px;
    padding: 4px 0;
    text-align: center;
}
.salePercentTag::after{
    content: '';
    display: block;
    
    width: 0;
    height: 0;
    top: 0;
    right: -24px;
    position: absolute;
    border: 12px solid crimson;
    /* bottom: -20px; */
    border-left-color: crimson;
    border-right-color: transparent;
    border-top-color: crimson;
    border-bottom-color: transparent;
}
.typeBagItem .oldPrice{
    text-align: left;
}
.typeBagItem .salePercentTag{
    width: 44px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: crimson;
    color: white;
    font-weight: bolder;
    font-size: 12px;
    padding: 4px;
    height: 20px;
    padding: 4px 0;
    text-align: center;
}
.typeBagItem .salePercentTag::after{
    content: '';
    display: block;
    
    width: 0;
    height: 0;
    top: 0;
    right: -20px;
    position: absolute;
    border: 10px solid crimson;
    /* bottom: -20px; */
    border-left-color: crimson;
    border-right-color: transparent;
    border-top-color: crimson;
    border-bottom-color: transparent;
}
/* .salePercentTag::before{
    content: '';
    display: block;
    width: 0;
    height: 0;
    right: 0;
    position: absolute;
    border: 10px solid crimson;
    bottom: -20px;
    border-left-color: transparent;
    border-right-color: crimson;
    border-top-color: crimson;
    border-bottom-color: transparent;
} */
.item .itemMenu {
    cursor: pointer;
    position: absolute;
    /* z-index: 3; */
    top: 0;
    right: 16px;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
}
.item:hover .itemMenu {
    transform: translateY(0%);
}
.item .itemMenu .iconSvg {
    color: #047181;
    width: 24px;
    height: 24px;
}
.item .itemMenu .iconSvg path {
    stroke: #047181;
    width: 24px;
    height: 24px;
}
.item .itemMenu .iconContainer {
    background-color: white;
    margin-top: 4px;
    margin-right: 4px;
    border: 2px solid #088699;
    border-radius: 4px;
    transition: opacity 0.3s ease-out;
}
.item .itemMenu .iconContainer:hover {
    opacity: 0.8;
}
.label {
    display: block;
    text-align: center;
    margin-top: 8px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    transition: 0.3s;
}
.priceLabel{
    color:#444;
    font-size: 13px;
    font-weight: 500;
    margin-right: 4px;
}
.price {
    margin: 8px 0;
    font-size: 1.4rem;
    font-weight: 600;
    color: #009eb6;
    width: 100%;
    text-align: center;
}

.sizeColor span:last-child{
    font-size: 1.4rem;
}

.oldPrice{
    margin: 8px 0 -4px 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: #777;
    text-decoration: line-through;
    width: 100%;
    text-align: center;
}
.label:hover {
    color: #009eb6;
}
.type1 {
    width: 20%;
}
.type2 {
    margin: 0;
    width: 27%;
}
.type3 {
    margin: 0;
    width: 23%;
}
.typeBagItem{
    display: flex;
    margin-bottom: 12px;
    max-height: 120px;
    position: relative;
}
.typeBagItem .imgContainer{
    max-width: 120px;
}
.typeBagItem .itemDetail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
    width: 100%;
}
.typeBagItem .label{
    text-align: left;
}
.typeBagItem .price{
    text-align: left;
}
.flex{
    display: flex;
    align-items: center;
}
/* fix later */
.inputGroupWrapper{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.inputGroup{
    display: flex;
    align-items: center;
}

input[type="number"]{
    border: 1px solid #eeeeee;
}

.inputGroup .buttonMinus,
.inputGroup .buttonPlus{
    padding: 0;
    cursor: pointer;
    color: #333;
    width: 30px;
    height: 30px;
    background-color: transparent;
    outline: none;
    border: none;
}
.inputGroup .buttonMinus svg,
.inputGroup .buttonPlus svg{
    width: 30px;
    height: 30px;
}
.inputGroup .quantityField {
    height: 30px;
    width: 30px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    border: 1px solid #eee;
    margin: 0 4px;
}
.btnDanger {
    cursor: pointer;
    background-color: rgba(240, 25, 68, 0.87);
    font-size: 13px;
    padding: 8px 12px;
    margin-right: 12px;
    color: white;
    border: none;
    transition: all .3s ease-in-out;
}
.btnDanger:hover{
    opacity: 0.8;
}

.addToFavList{
    opacity: .4 !important;;
}

.addToFavList:hover{
    opacity: 1 !important;;
}
.favIcon{
    border-color: crimson !important;
}
.favIcon .iconSvg path{
    color: crimson !important;
    stroke: crimson !important;
}
@media (max-width: 900px) {
    .type2 {
        display: none;
    }
    .type3 {
        flex: 1;
    }
    .type1 {
        width: 50%;
    }
}
@media (max-width: 740px) {
}
