.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    padding-right: 16px;
    /* position: relative; */
}

/* .imgContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 100%; /* 16:9 Aspect Ratio 
}*/
.item {
    position: relative;
    overflow: hidden;
}
.item .itemMenu {
    cursor: pointer;
    position: absolute;
    /* z-index: 3; */
    top: 0;
    right: 16px;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
}
.item:hover .itemMenu {
    transform: translateY(0%);
}
.item .itemMenu .iconSvg {
    color: #047181;
    width: 24px;
    height: 24px;
}
.item .itemMenu .iconSvg path {
    stroke: #047181;
    width: 24px;
    height: 24px;
}
.item .itemMenu .iconContainer {
    background-color: white;
    margin-top: 4px;
    margin-right: 4px;
    border: 2px solid #088699;
    border-radius: 4px;
    transition: opacity 0.3s ease-out;
}
.item .itemMenu .iconContainer:hover {
    opacity: 0.8;
}
.label {
    display: block;
    text-align: center;
    margin-top: 8px;
    font-size: 1.4rem;
    color: #333;
    transition: 0.3s;
}
.price {
    margin: 8px 0;
    font-size: 1.4rem;
    font-weight: 800;
    color: #009eb6;
    width: 100%;
    text-align: center;
}

.label:hover {
    color: #009eb6;
}
.type1 {
    width: 20%;
}
.type2 {
    margin: 0;
    width: 27%;
}
.type3 {
    margin: 0;
    width: 23%;
}
.typeBagItem{
    display: flex;
    margin-bottom: 12px;
    max-height: 120px;
}
.typeBagItem .imgContainer{
    max-width: 120px;
}
.typeBagItem .itemDetail{
    margin-left: 16px;
}
.typeBagItem .label{
    text-align: left;
}
.typeBagItem .price{
    text-align: left;
}
/* fix later */
.inputGroupWrapper{
    width: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputGroup{
    display: flex;
    align-items: center;
}

input[type="number"]{
    border: 1px solid #eeeeee;
}

.inputGroup .buttonMinus,
.inputGroup .buttonPlus{
    cursor: pointer;
    color: #333;
    width: 24px;
    height: 24px;

}

.inputGroup .quantityField {
    height: 30px;
    width: 30px;
    font-size: 13px;
    text-align: center;
}
.btnDanger {
    cursor: pointer;
    background-color: rgba(240, 25, 68, 0.87);
    font-size: 13px;
    padding: 8px;
    margin-right: 12px;
    color: white;
    border: none;
    transition: all .3s ease-in-out;
}
.btnDanger:hover{
    opacity: 0.8;
}
@media (max-width: 900px) {
    .type2 {
        display: none;
    }
    .type3 {
        flex: 1;
    }
    .type1 {
        width: 50%;
    }
}
@media (max-width: 740px) {
}
